# Start with Google style

BasedOnStyle: Google

# My own changes

SeparateDefinitionBlocks: Always

AllowShortBlocksOnASingleLine: Empty

DerivePointerAlignment: false
PointerAlignment: Right

AllowShortFunctionsOnASingleLine: Empty

AlignAfterOpenBracket: AlwaysBreak

UseTab: ForIndentation
IndentWidth: 2
TabWidth: 2

# Based on Linux Kernel recommendation
ColumnLimit: 100
